@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Keen | Login - v2</title>
    <meta name="description" content="User login example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="~/Content/font/webfont.js"></script>
    <script>
    WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>



    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/Content/Admin/css/pages/login/login-v2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/Content/Admin/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->

    <link href="~/Content/Admin/css/skins/aside/brand.css" rel="stylesheet" type="text/css" />	    <!--end::Layout Skins -->

    <link rel="shortcut icon" href="~/Content/Admin/media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-login-v2--enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--static kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item   kt-grid__item--fluid kt-grid  kt-grid kt-grid--hor kt-login-v2" id="kt_login_v2">
            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid--hor">
                <!--begin::Heade-->
                <div class="kt-login-v2__head">
                    <div class="kt-login-v2__logo">
                        <a href="#">
                            <img src="~/Content/Admin/media/logos/logo-5.png" alt="" />
                        </a>
                    </div>
                    @*<div class="kt-login-v2__signup">
                        <span>Don't have an account?</span>
                        <a href="#" class="kt-link kt-font-brand">Sign Up</a>
                    </div>*@
                </div>
                <!--begin::Head-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid  kt-grid--ver  kt-grid__item--fluid">
                <!--begin::Body-->
                <div class="kt-login-v2__body">
                    <!--begin::Wrapper-->
                    <div class="kt-login-v2__wrapper">
                        <div class="kt-login-v2__container">
                            <div class="kt-login-v2__title">
                                <h3>Sign to Account</h3>
                            </div>

                            <!--begin::Form-->
                            <form class="kt-login-v2__form kt-form" action="/Home/Login" method="post" autocomplete="off">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Username" name="username" value="erkan@luxuryistanbul.com" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="Password" name="password" value="123" autocomplete="off">
                                </div>
                                <!--begin::Action-->
                                <div class="kt-login-v2__actions">
                                    <a href="#" class="kt-link kt-link--brand">
                                        Forgot Password ?
                                    </a>
                                    <button type="submit" class="btn btn-brand btn-elevate btn-pill">Sign In</button>
                                </div>
                                <!--end::Action-->
                            </form>
                            <!--end::Form-->
                            <!--begin::Separator-->
                            <div class="kt-separator kt-separator--space-lg  kt-separator--border-solid"></div>
                            <!--end::Separator-->
                        </div>
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Image-->
                    <div class="kt-login-v2__image">
                        <img src="~/Content/Admin/media/misc/bg_icon.svg" alt="">
                    </div>
                    <!--begin::Image-->
                </div>
                <!--begin::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item">
                <div class="kt-login-v2__footer">
                    @*<div class="kt-login-v2__link">
                        <a href="#" class="kt-link kt-font-brand">Privacy</a>
                        <a href="#" class="kt-link kt-font-brand">Legal</a>
                        <a href="#" class="kt-link kt-font-brand">Contact</a>
                    </div>*@

                    <div class="kt-login-v2__info">
                        <a href="#" class="kt-link">&copy; @DateTime.Now.Year Luxury Istanbul</a>
                    </div>
                </div>
            </div>
            <!--end::Item-->
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
    var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5578eb",
                    "metal": "#c4c5d6",
                    "light": "#ffffff",
                    "accent": "#00c5dc",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995",
                    "focus": "#9816f4"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };</script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/Content/Admin/vendors/global/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/Content/Admin/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="~/Content/Admin/js/pages/custom/user/login.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
</body>
<!-- end::Body -->
<!-- Mirrored from keenthemes.com/keen/preview/custom/login/login-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Sep 2019 19:44:41 GMT -->
</html>