@using Alice.Service.Model
@model StaticPagesDTO
@{
    ViewData["Title"] = Model.PageTitle;
    ViewData["SEODescription"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/cssPlugins.css">
<link rel="stylesheet" href="~/Content/css/style.css">
<link rel="stylesheet" href="~/Content/css/commentModule.css">

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="fixedTopMenu d-flex align-items-center justify-content-between">
                    <i class="flaticon-search"></i>
                    <div class="callUs">
                        <span>Call Us 24/7</span>
                        <a href="tel:00905353122642">+90 535 312 2642</a>
                    </div>
                    <div class="logo">
                        <a href="index.html">
                            <img src="/Content/img/logo.png" alt="Luxury İstanbul">
                        </a>
                    </div>
                    <div class="menu-wrapper">
                        <div class="hamburger-menu"></div>
                    </div>
                    <div class="search d-flex align-items-center justify-content-center">
                        <span>SEARCH</span>
                        <a href="javascript:;" class="searchButton">
                            <i class="flaticon"></i>
                        </a>
                        <input type="text" placeholder="Search on site">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="mansetNoneSlide">
    <div class="fullBg" style="background:url(@Model.PageImage)"></div>
    <div class="topSocialMedia">
        <!-- iç sayfalarda bu div bunun içinde yer almalı -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <a href="javascript:;">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.6s">
                            <a href="javascript:;">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.9s">
                            <a href="javascript:;">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="1.2s">
                            <a href="javascript:;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="generallyInfo basicPages">
    <!-- Düz yazıların oldugu sayfalarda bu kısma basicPages classı ekle -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="grayBox">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/">HOME</a></li>
                            <li class="breadcrumb-item " aria-current="page">@Model.PageTitle</li>
                        </ol>
                    </nav>
                    <h1 class="pageTitle wow slideInLeft">
                        <span>@Model.PageTitle</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="lineText">

                    @{
                        if (Model.PageTitle == "Contact Us")
                        {
                            <section class="generallyInfo basicPages">
                                <!-- Düz yazıların oldugu sayfalarda bu kısma basicPages classı ekle -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-6">
                                            <div class="grayBox">
                                                <nav aria-label="breadcrumb">
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item active"><a href="/">HOME</a></li>
                                                        <li class="breadcrumb-item " aria-current="page">CONTACT</li>
                                                    </ol>
                                                </nav>
                                                <h1 class="pageTitle wow slideInLeft">
                                                    <span>Contact</span>   Us
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="lineText">
                                                <p>
                                                    LuxuryIstanbul - Grand TTG Travel <br>
                                                    Licence Numver: A-5918 (TÜRSAB Association of Turkish Travel Agencies)
                                                </p>
                                            </div>
                                            <div class="contactInfo">
                                                <ul>
                                                    <li>
                                                        <h3>Address</h3>
                                                        <p>
                                                            Emin sinan Mah.  <br>
                                                            Emin Sinan Hamam Sok.  <br>
                                                            Beyzade Han  <br>
                                                            No:6 Kat:3 <br>
                                                            Sultanahmet - Istanbul / Turkey
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <h3>Phone</h3>
                                                        <a href="tel:00905413122642 ">+90 (541) 312 26 42 </a>
                                                        <a href="tel:00905353122642 ">+90 (535) 312 26 42 </a>
                                                        <h3 class="secondTitle">Fax</h3>
                                                        <a href="javascript:;">+90 (212) 517 00 09</a>
                                                    </li>
                                                    <li>
                                                        <h3>Web Site</h3>
                                                        <a href="http://www.luxuryistanbul.com">http://www.luxuryistanbul.com</a>
                                                        <h3 class="secondTitle">E-mail</h3>
                                                        <a href="mailto:luxuryistanbul@gmail.com">luxuryistanbul@gmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="contactModel">
                                                <div class="row">
                                                    <div class="col-12 col-md-12 col-lg-6">
                                                        <h3>Have a Question?</h3>
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                                        </p>
                                                        <form action="" class="contactForm" method="">
                                                            <div class="form-item">
                                                                <p>
                                                                    Your Name
                                                                </p>
                                                                <input type="text" class="form-control" placeholder="First Name, Surname">
                                                            </div>
                                                            <div class="form-item">
                                                                <p>
                                                                    Contact Number
                                                                </p>
                                                                <input type="tel" class="form-control" placeholder="+ 90 |">
                                                            </div>
                                                            <div class="form-item">
                                                                <p>
                                                                    Email Address
                                                                </p>
                                                                <input type="mail" class="form-control" placeholder="Enter Email address">
                                                            </div>
                                                            <div class="form-item">
                                                                <p>
                                                                    Country
                                                                </p>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                            <div class="form-item">
                                                                <p>
                                                                    Subject
                                                                </p>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                            <div class="form-item">
                                                                <p>
                                                                    Message
                                                                </p>
                                                                <textarea name="" id="" class="form-control"></textarea>
                                                            </div>
                                                            <div class="form-item">
                                                                <div class="contactSub">
                                                                    <input type="submit" class="form-control" value="SEND">
                                                                    <i class="fas fa-caret-right"></i>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-6">
                                                        <div class="contact-map">
                                                            <iframe data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3219.631547220442!2d29.63268611556105!3d36.199841708961564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c1db16df060f7b%3A0x347fe3a07630a718!2sKa%C5%9F%20Antik%20Tiyatro!5e0!3m2!1str!2str!4v1579035012714!5m2!1str!2str" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" class="lazyload"></iframe>
                                                        </div>
                                                        <div class="onlyImg">
                                                            <img src="/Content/img/tripadvisor.jpg" data-src="/Content/img/tripadvisor.jpg" data-loadMode="0" class="lazyload" alt="Travel">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        }
                        else
                        {
                            <p>
                                @Html.Raw(Model.PageBody)
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

 
 

@section Scripts{
    <script src='~/Content/js/plugins.js'></script>
    <script src="~/Content/js/commentModule.js"></script>
}