@using Alice.Service.Model
@model StaticPagesDTO
@{
    ViewData["Title"] = Model.PageTitle;
    ViewData["SEODescription"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/cssPlugins.css">
<link rel="stylesheet" href="~/Content/css/style.css">
<link rel="stylesheet" href="~/Content/css/commentModule.css">

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="fixedTopMenu d-flex align-items-center justify-content-between">
                    <i class="flaticon-search"></i>
                    <div class="callUs">
                        <span>Call Us 24/7</span>
                        <a href="tel:00905353122642">+90 535 312 2642</a>
                    </div>
                    <div class="logo">
                        <a href="index.html">
                            <img src="/Content/img/logo.png" alt="Luxury İstanbul">
                        </a>
                    </div>
                    <div class="menu-wrapper">
                        <div class="hamburger-menu"></div>
                    </div>
                    <div class="search d-flex align-items-center justify-content-center">
                        <span>SEARCH</span>
                        <a href="javascript:;" class="searchButton">
                            <i class="flaticon"></i>
                        </a>
                        <input type="text" placeholder="Search on site">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="mansetNoneSlide">
    <div class="fullBg" style="background:url(@Model.PageImage)"></div>
    <div class="topSocialMedia">
        <!-- iç sayfalarda bu div bunun içinde yer almalı -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <a href="https://www.instagram.com/luxuryistanbul/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.6s">
                            <a href="javascript:;">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.9s">
                            <a href="https://www.facebook.com/LuxuryIstanbul/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="1.2s">
                            <a href="https://twitter.com/luxuryistanbul">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="generallyInfo basicPages">
    <!-- Düz yazıların oldugu sayfalarda bu kısma basicPages classı ekle -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="grayBox">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/">HOME</a></li>
                            <li class="breadcrumb-item " aria-current="page">@Model.PageTitle</li>
                        </ol>
                    </nav>
                    <h1 class="pageTitle wow slideInLeft">
                        <span>@Model.PageTitle</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">


                @{
                    if (Model.PageTitle == "Contact Us")
                    {
                        <div class="lineText">
                            <p>
                                LuxuryIstanbul - Grand TTG Travel <br>
                                Licence Number: A-5918 (TÜRSAB Association of Turkish Travel Agencies)  <br>
                                CRN: 645812 TTG Turizm Elektronik Insaat ve Dan. Hiz. San. ve Tic. Ltd. Sti.  (A registered Member of Istanbul Chamber of Commerce / ICOC )
                            </p>
                        </div>
                        <div class="contactInfo">
                            <ul>
                                <li>
                                    <h3>Address</h3>
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Emin Sinan Mah. Emin Sinan Hamam Sok. Beyzade Han No:6 Kat: 2-3  34126 Fatih - Istanbul / Turkiye
                                    </p>
                                </li>
                                <li>
                                    <h3>Office Phone</h3>
                                    <a href="tel:00905413122642"><i class="fas fa-phone-volume"></i> +90 (541) 312 26 42</a>
                                    <h3 class="secondTitle">Whatsapp</h3>
                                    <a href="tel:00905413122642"><i class="fab fa-whatsapp"></i> +90 (541) 312 26 42   </a>
                                    <h3 class="secondTitle">Fax</h3>
                                    <a href="javascript:;"><i class="fas fa-fax"></i> +90 (212) 517 00 09</a>
                                </li>
                                <li>
                                    <h3>Web Site</h3>
                                    <a href="http://www.luxuryistanbul.com"><i class="fab fa-chrome"></i>www.luxuryistanbul.com</a>
                                    <h3 class="secondTitle">E-mail</h3>
                                    <a href="mailto:info@luxuryistanbul.com"><i class="fas fa-envelope"></i> Please click here.</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contactModel">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-6">
                                    <h3>Have a Question?</h3>
                                    <p>
                                        If you may have any questions, please reach us by filling the short form or send an e-mail. We would be delighted to help you.
                                    </p>
                                    <form action="" class="contactForm" method="">
                                        <div class="form-item">
                                            <p>
                                                Your Name
                                            </p>
                                            <input type="text" class="form-control" placeholder="First Name, Surname">
                                        </div>
                                        <div class="form-item">
                                            <p>
                                                Contact Number
                                            </p>
                                            <input type="tel" class="form-control" placeholder="+ 90 |">
                                        </div>
                                        <div class="form-item">
                                            <p>
                                                Email Address
                                            </p>
                                            <input type="mail" class="form-control" placeholder="Enter Email address">
                                        </div>
                                        <div class="form-item">
                                            <p>
                                                Country
                                            </p>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-item">
                                            <p>
                                                Subject
                                            </p>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-item">
                                            <p>
                                                Message
                                            </p>
                                            <textarea name="" id="" class="form-control"></textarea>
                                        </div>
                                        <div class="form-item">
                                            <div class="contactSub">
                                                <input type="submit" class="form-control" value="BOOK">
                                                <i class="fas fa-caret-right"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6">
                                    <div class="contact-map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.829749421487!2d28.966693215662026!3d41.007099427445674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9de2c3ba283%3A0x639efc4d72f1c482!2sLuxury%20Istanbul!5e0!3m2!1str!2str!4v1588339486401!5m2!1str!2str" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="lineText">
                            <p>
                                @Html.Raw(Model.PageBody)
                            </p>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>

@if (Model.PageTitle == "Contact Us")
{<br /><br />
<section class="testimonials lazyload" data-link="/Content/css/commentModule.css" data-script="/Content/js/commentModule.js">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="commentSlider">

                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                Thank you very much again for the excellent service you have provided us with during our event in Istanbul.
                                I organized a rather large conference which lasted over a week in Istanbul with Top Executives and the service we have received was fantastic.
                                They are simply a very professional company and offer superb customer service.
                            </p>
                            <span>
                                Ms Shahbal O. <strong>Eastman Kodak, Dubai</strong>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                After a busy meeting day, we are picked up at our hotel by good conditioned bus to drive to our booked dinner cruise tour.
                                The trip itself has been the highlight of our international meeting. Illuminated Istanbul by night was fantastic and worth seeing.
                                The service has been very quick and attentive, we had good drinks and meal. Thank you for seamless day.
                            </p>
                            <span>
                                Mr. Doris D. <strong>MONDELEZ INT, Germany</strong>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                Thanks once again for your assistance and excellent service during the Turkey tour of our VIP guests.
                                The trip itself has been the highlight of our international meeting. Illuminated Istanbul by night was fantastic and worth seeing.
                                The service has been very quick and attentive, we had good drinks and meal. Thank you for seamless day.
                            </p>
                            <span>
                                Mr. Davor <strong>Agent of American Express Travel, Croatia</strong>
                            </span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                We had a great time with Mr Murat. He was a much better guide than we could have expected.
                                His knowledge of Istambul's history is excellent. He consulted with us before each location including the choice of restaurant.
                                His english was also excellent. I Thanking you for such a great tour of Istanbul.
                            </p>
                            <span>
                                Cruise Traveler, Mr. Denis C. <strong>By Celebrity Reflection, Montreal, Canada</strong>
                            </span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                It was a pleasure meeting you and spending some time with you. Judy and I thoroughly enjoyed our time in Istanbul.
                                Fatih was an outstanding tour guide. His knowledge and care for us was very much appreciated.
                                Thank you for the lovely Calligraphy plate. Thank you again for making Istanbul my favorite place of the tour.
                            </p>
                            <span>
                                Ms.Judie M & Ms Connie C. <strong>Luxury round-the-world tour on Private jet,US</strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="commentNav">
                    <button type="button" class="litlePrev">
                        <img src="~/Content/img/litlePrev.png" alt="">
                    </button>
                    <button type="button" class="litleNext">
                        <img src="~/Content/img/litleNext.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="recommended">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="discoveredBox">
                        <div class="recommendedBlackBox">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/recoBox.jpg" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            <div class="psAbslt">
                                <h2 class="colorableText">Recommended By <span>Luxury Istanbul</span></h2>
                                <a href="/recommended-by-luxury-istanbul" class="gradientBtn">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/discoverNow.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}




@section Scripts{
    <script src='~/Content/js/plugins.js'></script>
    <script src="~/Content/js/commentModule.js"></script>
}