
@{
    ViewData["Title"] = "Successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tabSects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <br><br><br><br><br><br><br><br><br><br><br>
                        <div class="lineText">
                            <h1 style="color:green; font-weight:bold;">Successful</h1>
                            <h3>Your message has reached us. We will be back to you as soon as possible.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>