@{
    var homeModel = (Alice.Web.Models.LayoutModel)ViewBag.HomePage;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Alice.Web</title>
    <meta name="author" content="Erkan Güzelküçük">
    <meta name="description" content="@(ViewData["SEODescription"]??string.Empty)">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <environment include="Production">
        <link rel="stylesheet" href="~/Content/css/cssPlugins.css">
        <link rel="stylesheet" href="~/Content/css/style.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Content/css/cssPlugins.css">
        <link rel="stylesheet" href="~/Content/css/style.css">
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />*@
    </environment>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="fixedTopMenu d-flex align-items-center justify-content-between">
                        <i class="flaticon-search"></i>
                        <div class="callUs">
                            <span>Call Us 24/7</span>
                            <a href="tel:00905353122642">+90 535 312 2642</a>
                        </div>
                        <div class="logo">
                            <a href="/">
                                <img src="/Content/img/logo.png" alt="Luxury İstanbul">
                            </a>
                        </div>
                        <div class="menu-wrapper">
                            <div class="hamburger-menu"></div>
                        </div>
                        <div class="search d-flex align-items-center justify-content-center">
                            <span>SEARCH</span>
                            <a href="javascript:;" class="searchButton">
                                <i class="flaticon"></i>
                            </a>
                            <input type="text" placeholder="Search on site">
                        </div>
                    </div>
                    <div class="fixedBottomMenu homeMenu">
                        <!-- Sadece anasyafa da diğerlerinden farklı olaarak homeMenu classı eklenicek -->
                        <ul class="d-flex align-items-center justify-content-center">
                            <li>
                                <a href="/">
                                    HOME
                                </a>
                            </li>
                            <li>
                                <a href="/Page/our-services">
                                    OUR SERVICES
                                </a>
                            </li>
                            <li>
                                <a href="/Page/about-us">
                                    ABOUT
                                </a>
                            </li>
                            <li>
                                <a href="/Page/why-luxury-istanbul">
                                    WHY LUXURY ISTANBUL
                                </a>
                            </li>
                            <li>
                                <a href="/Page/destinations">
                                    DESTINATIONS
                                </a>
                            </li>
                            <li>
                                <a href="/Page/contact-us">
                                    CONTACT US
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="topSocialMedia">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="wow fadeIn" data-wow-duration="0.9s" data-wow-delay="0.3s">
                            <a href="javascript:;">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.9s" data-wow-delay="0.6s">
                            <a href="javascript:;">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.9s" data-wow-delay="0.9s">
                            <a href="javascript:;">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="0.9s" data-wow-delay="1.2s">
                            <a href="javascript:;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="favourites">
                        <ul class="d-flex align-items-center justify-content-around">
                            <li>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/f1.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            </li>
                            <li>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/f2.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            </li>
                            <li>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/f3.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            </li>
                            <li>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/f4.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            </li>

                        </ul>
                    </div>
                    <div class="footerBottom">
                        <div class="newsletter">
                            <h3>SIGN UP TO OUR NEWSLETTER</h3>
                            <form action="" method="">
                                <div class="form-div">
                                    <input type="text" name="name" placeholder="Full Name">
                                </div>
                                <div class="form-div">
                                    <input type="mail" name="mail" placeholder="Email Address">
                                </div>
                                <div class="formResult">
                                    <input type="submit" value="SIGN UP">
                                    <div class="check">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing">I am happy to receive emails from LuxuryIstanbul <br> about latest news. trends and information.</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="footerSocialMedia">
                            <ul class="d-flex align-items-center">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="f-links d-flex align-items-center">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        BLOG
                                    </a>
                                </li>
                                <li>
                                    <a href="/Page/terms-condations">
                                        TERMS & CONDATIONS
                                    </a>
                                </li>
                                <li>
                                    <a href="/Page/privacy-policy">
                                        PRIVACY POLICY
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="/Page/agents">
                                        AGENTS
                                    </a>
                                </li>
                                <li>
                                    <a href="/Page/faqs">
                                        FAQ'S
                                    </a>
                                </li>
                                <li>
                                    <a href="/Page/sitemap">
                                        SITEMAP
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="copyRight">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="copy">© Copyright 2019 Luxury Istanbul</span>
                        <h2 class="grayLogo">
                            <b>LUXURY</b> ISTANBUL
                        </h2>
                        <a href="tel:00905353122642" class="f-tel">
                            <i class="fas fa-phone-volume"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <environment include="Production">
        <script src='~/Content/js/plugins.js'></script>
    </environment>
    <environment exclude="Development">
        <script src='~/Content/js/plugins.js'></script>

        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/Content/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>*@
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $('.fixedBottomMenu').addClass("homeMenu");
        });
    </script>
</body>
</html>
